<footer>
  <div class="footer">
    <div class="footer__column">
      <div class="footer-title">
        KrossShoes
      </div>
      <div class="footer-menu__container">
        <ul class="footer-menu">
          <li class="menu-text">Отзывы</li>
          <li class="menu-text">Акции</li>
          <li id="pageTime" class="menu-text"></li>
        </ul>
      </div>
    </div>

    <div class="footer__column">
      <div class="footer-title">
        Контакты
      </div>
      <div class="footer-menu__container">
        <ul class="footer-menu">
          <ul class="footer-menu">
            <li class="menu-text">8 800 555-35-35</li>
            <li class="menu-text">info@KrossShoes.ru</li>
            <li class="menu-text">пн-пт с 10:00 до 17:00</li>
          </ul>
        </ul>
      </div>
    </div>
    <div class="footer__column">
      <div class="footer-title">
        <div class="city">
          Санкт-Петербург
        </div>
      </div>
      <div class="footer-menu__container">
        <ul class="footer-menu">
          <ul class="footer-menu">
            <li class="temp menu-text"></li>
            <li class="description menu-text"></li>
            <li class="humidity menu-text"></li>
            <li class="wind menu-text"></li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</footer>